<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('main-menu'); %>
    <main>
    <h1><%= title %></h1>
    <table>
        <thead>
            <tr>
                <th>Titre</th>
                <th>Type</th>
                <th>NB d'emprunts</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% for(i = 0; i < documents.length; i++) { %>
                <tr>
                    <td><%= documents[i].fields.titre_avec_lien_vers_le_catalogue %></td>
                    <td><%= documents[i].fields.type_de_document %></td>
                    <td><%= documents[i].fields.nombre_de_reservations %></td>
                    <td>
                        <% 
                            var buttonText = 'Rendre';
                            var formRoute = '/rendre';
                            if(documents[i].est_emprunte == undefined || !documents[i].est_emprunte) {
                                buttonText = 'Emprunter';
                                formRoute = '/emprunter';
                            }
                        %>
                            <form method="post" action="<%= formRoute %>">
                                <input name="document_id" type="hidden" value="<%= documents[i].recordid %>"/>
                                <button name="submit" type="submit"><%= buttonText %></button>
                            </form>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
</main>
  </body>
</html>
