<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <table style="display:block;width:50%;margin:auto auto;">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Type</th>
                <th>NB d'emprunts</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% for(i = 0; i < documents.length; i++) { %>
                <tr>
                    <td><%= documents[i].fields.titre_avec_lien_vers_le_catalogue %></td>
                    <td><%= documents[i].fields.type_de_document %></td>
                    <td><%= documents[i].fields.nombre_de_reservations %></td>
                    <td>
                        <% if(documents[i].est_emprunte == undefined || documents[i].est_emprunte == false) { %>
                            <form method="post" action="/emprunter">
                                <input name="document_id" type="hidden" value="<%= documents[i].recordid %>"/>
                                <button name="submit" type="submit">Emprunter</button>
                            </form>
                        <% } else { %>
                            <form method="post" action="/rendre">
                                <input name="document_id" type="hidden" value="<%= documents[i].recordid %>"/>
                                <button name="submit" type="submit">Rendre</button>
                            </form>
                        <% }%>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>>
  </body>
</html>
