<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('main-menu'); %>
    <main>
    <h1><%= title %></h1>
    <table>
        <thead>
            <tr>
                <th>Titre</th>
                <th>Rang</th>
            </tr>
        </thead>
        <tbody>
            <% for(i = 0; i < documents.length; i++) { %>
                <tr>
                    <td><%= documents[i].fields.titre_avec_lien_vers_le_catalogue %></td>
                    <td><%= documents[i].fields.rang %></td>
                </tr>
            <% } %>
        </tbody>
    </table>
</main>
  </body>
</html>